# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dylib

# Flask environment
env/
venv/
instance/
*.sqlite3

# TensorFlow models (if models are too large to store in Git)
models/
*.h5
*.ckpt
*.pb

# Node modules (for JavaScript packages, if using Node.js)
node_modules/
npm-debug.log
yarn-error.log
